 .wrapper {
    display: flex;
    flex-direction: row-reverse;
  }

  /* @media only screen and (min-width: 426px) and (max-width: 768px) {
    picture img {
      width: 100%;
    }
  } */


@media only screen and (min-width: 320px) and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
}
